table {
  width: 100%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
}

tr > th {
  font-weight: 500;
  text-align: left;
  background: #fafafa;
  border-bottom: 1px solid #e8e8e8;
}

tr > th, tr > td {
  padding: 16px;
  overflow-wrap: break-word;
}

tr > td {
  border-bottom: 1px solid #e8e8e8;
}
