<template>
  <CommentView :item="item" />
</template>

<script>
import api from "../../api";

export default {
  validate({ params }) {
    return /^\d+$/.test(params.id);
  },
  async asyncData({ params }) {
    const { data } = await api.comment.getComment(params.id);
    return { item: data };
  },
  data() {
    return {
      item: undefined
    };
  },
  watch: {
    "$route.query": "$fetch"
  }
};
</script>
