<template>
  <div class="app-container">
    <slot/>
  </div>
</template>

<style lang="scss">
.app-container {
  margin-right: auto;
  margin-left: auto;
  width: auto;

  @media (min-width: 768px) {
    & {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    & {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    & {
      max-width: 1140px;
    }
  }
}
</style>
