<template>
  <div class="app-descriptions">
    <div class="app-descriptions-title">{{ title }}</div>

    <div>
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    }
  }
};
</script>

<style>
.app-descriptions {
  margin-bottom: 20px;
}

.app-descriptions-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
}
</style>
