<template>
  <div class="app-descriptions-item">
    <div class="app-descriptions-item__label">{{ label }}:</div>

    <div class="app-descriptions-item__content">
      <slot/>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: '',
    }
  }
}
</script>

<style>
.app-descriptions-item {
  margin-bottom: 8px;
}

.app-descriptions-item__label {
  display: inline-block;
  font-weight: bold;
}

.app-descriptions-item__content {
  display: inline-block;
}
</style>
