<template>
  <header class="app-header">
    <AppContainer>
      <NuxtLink to="/" class="app-header__logo">
        <AppLogo/>
      </NuxtLink>

      <div class="app-header__nav">
        <AppNav/>
      </div>
    </AppContainer>
  </header>
</template>

<script>
export default {
}
</script>

<style>
.app-header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  height: 60px;
  padding: 0 10px;
  box-shadow: 0 2px 8px #f0f1f2;
}

.app-header__logo {
  float: left;
  width: 120px;
  margin-top: 11px;
  margin-right: 40px;
  color: var(--text-primary);
}

.app-header__nav {
  float: left;
  margin-top: 21px;
}
</style>
