<template>
  <main class="app-main">
    <section class="app-content">
      <AppContainer>
        <slot/>
      </AppContainer>
    </section>
  </main>
</template>

<style>
.app-main {
  overflow-x: hidden;
}

.app-content {
  margin: 40px 0;
}
</style>
