<template>
  <nav class="app-nav">
    <ul class="main-nav">
      <li class="main-nav__item">
        <nuxt-link exact to="/" class="main-nav__link" active-class="main-nav__link--active">
          Home
        </nuxt-link>
      </li>
      <li class="main-nav__item">
        <nuxt-link to="/about" class="main-nav__link" active-class="main-nav__link--active">
          About
        </nuxt-link>
      </li>
    </ul>
  </nav>
</template>

<style lang="scss">
$color: #000;
$active: #00dc82;
$hover: #444;

.main-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.main-nav__item {}

.main-nav__link {
  text-decoration: none;
  padding-right: 8px;
  padding-left: 8px;
  transition: color .2s;
  color: var(--text-primary);

  &:hover {
    color: $hover;
  }
}

.main-nav__link--active {
  color: $active;
}
</style>
