<template>
  <ul :class="['app-pagination', containerClass]">
    <li :class="['app-pagination__item', firstPageSelected() ? 'app-pagination__item--disabled' : '']">
      <a
        class="app-pagination__link"
        :tabindex="firstPageSelected() ? -1 : 0"
        @click="prevPage()"
      >&lsaquo;</a>
    </li>
    <li
      v-for="page in pages" :key="page.content"
      :class="['app-pagination__item', page.selected ? 'app-pagination__item--active' : '', page.disabled ? 'app-pagination__item--disabled' : '']">
      <a v-if="page.disabled" class="app-pagination__link" tabindex="0">{{ page.content }}</a>
      <a
        v-else class="app-pagination__link"
        tabindex="0"
        @click="handlePageSelected(page.index + 1)"
        @keyup.enter="handlePageSelected(page.index + 1)"
      >
        {{ page.content }}
      </a>
    </li>
    <li :class="['app-pagination__item', lastPageSelected() ? 'app-pagination__item--disabled' : '']">
      <a
        class="app-pagination__link"
        :tabindex="lastPageSelected() ? -1 : 0"
        @click="nextPage()"
      >&rsaquo;</a>
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    containerClass: {
      type: String,
      default: ""
    },
    value: {
      type: Number,
      default: 1
    },
    pageRange: {
      type: Number,
      default: 3
    },
    perPage: {
      type: Number,
      default: 10
    },
    total: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      innerValue: 1
    };
  },
  computed: {
    selected: {
      get() {
        return this.value || this.innerValue;
      },
      set(newValue) {
        this.innerValue = newValue;
      }
    },
    pageCount() {
      if (this.total < 0 || this.perPage < 0) {
        return 0;
      }
      return Math.ceil(this.total / this.perPage);
    },
    pages() {
      const items = {};
      if (this.pageCount <= this.pageRange) {
        for (let index = 0; index < this.pageCount; index++) {
          items[index] = {
            index,
            content: index + 1,
            selected: index === (this.selected - 1)
          };
        }

        return items;
      }

      const halfPageRange = Math.floor(this.pageRange / 2);
      const setPageItem = (index) => {
        items[index] = {
          index,
          content: index + 1,
          selected: index === (this.selected - 1)
        };
      };

      let selectedRangeLow = 0;
      if (this.selected - halfPageRange > 0) {
        selectedRangeLow = this.selected - 1 - halfPageRange;
      }
      let selectedRangeHigh = selectedRangeLow + this.pageRange - 1;
      if (selectedRangeHigh >= this.pageCount) {
        selectedRangeHigh = this.pageCount - 1;
        selectedRangeLow = selectedRangeHigh - this.pageRange + 1;
      }
      for (let i = selectedRangeLow; i <= selectedRangeHigh && i <= this.pageCount - 1; i++) {
        setPageItem(i);
      }

      return items;
    }
  },
  methods: {
    firstPageSelected() {
      return this.selected === 1;
    },
    lastPageSelected() {
      return (this.selected === this.pageCount) || (this.pageCount === 0);
    },
    handlePageSelected(selected) {
      if (this.selected === selected) return;
      this.innerValue = selected;
      this.$emit("input", selected);
    },
    prevPage() {
      if (this.selected <= 1) return;
      this.handlePageSelected(this.selected - 1);
    },
    nextPage() {
      if (this.selected >= this.pageCount) return;
      this.handlePageSelected(this.selected + 1);
    }
  }
};
</script>

<style lang="scss">
$active: #00dc82;
$disabled: rgba(#000,.25);

.app-pagination {
}

.app-pagination__item {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  cursor: pointer;
  margin-right: 4px;
  border: 1px solid #d9d9d9;

  &:last-child {
    margin-right: 0;
  }
}

.app-pagination__item--active {
  border-color: $active;
  color: $active;
}

.app-pagination__item--disabled {
  cursor: not-allowed;
  color: $disabled;
  border-color: #d9d9d9;
}

.app-pagination__link {
  display: block;
  line-height: 30px;
  color: inherit;
}
</style>
