<template>
  <div class="app-table-wrap">
    <table class="app-table">
      <thead>
      <tr>
        <th :class="getColumnClass('id')" @click.prevent="onChangeSort('id')">
          Id
        </th>
        <th>Name</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr
        v-for="item of items"
        :key="item.id"
        class="app-table__row"
        @click.prevent="onRowClick(item)"
      >
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
      </tr>
      </tbody>
    </table>

    <div class="ant-table-pagination">
      <AppPagination
        container-class="app-table-pagination"
        :total="pagination.total"
        :per-page="pagination.perPage"
        :value="pagination.page"
        @input="onChangePage($event)"
      />
    </div>

  </div>
</template>

<script>
import { perPage } from "../utils/consts.js";

export default {
  name: "AppTable",
  props: {
    items: {
      type: Array,
      default() {
        return [];
      }
    },
    pagination: {
      type: Object,
      default() {
        return {
          total: 0,
          perPage,
          page: 1
        };
      }
    },
    sort: {
      type: Object,
      default() {
        return {
          field: undefined,
          order: undefined
        };
      }
    }
  },
  methods: {
    getColumnClass(field) {
      let classSort = "sort-none";
      if (this.sort.field === field) {
        classSort = this.sort.order == null
          ? "sort-default"
          : this.sort.order === "asc"
            ? "sort-asc"
            : "sort-desc";
      }

      return {
        "app-table-column-sorter": true,
        [classSort]: true
      };
    },
    onChangePage(page) {
      this.$emit("change-page", page);
    },
    onChangeSort(field) {
      this.$emit("change-sort", {
        field,
        order: this.sort.field === field && this.sort.order === "asc" ? "desc" : "asc"
      });
    },
    onRowClick(item) {
      this.$emit("row-click", item);
    },
  }
};
</script>

<style>
.app-table-wrap {
}

.app-table {}

.app-table-pagination {
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
  overflow: hidden;
}

.app-table-column-sorter {
  background-position: right 4px center;
  padding-right: calc(12px + .65em);
  cursor: pointer;
  background-image: none;
  background-repeat: no-repeat;
  background-size: .65em 1em;
}

.sort-default {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' preserveAspectRatio='none'%3E%3Cpath opacity='.3' d='M51 1l25 23 24 22H1l25-22zm0 100l25-23 24-22H1l25 22z'/%3E%3C/svg%3E");
}

.sort-asc {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' preserveAspectRatio='none'%3E%3Cpath d='M51 1l25 23 24 22H1l25-22z'/%3E%3Cpath opacity='.3' d='M51 101l25-23 24-22H1l25 22z'/%3E%3C/svg%3E");
}

.sort-desc {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' preserveAspectRatio='none'%3E%3Cpath opacity='.3' d='M51 1l25 23 24 22H1l25-22z'/%3E%3Cpath d='M51 101l25-23 24-22H1l25 22z'/%3E%3C/svg%3E");
}

.app-table__row {
  cursor: pointer;
}
</style>
