<template>
  <AppDescriptions title="Comment">
    <AppDescriptionsItem label="id">
      {{ item.id }}
    </AppDescriptionsItem>
    <AppDescriptionsItem label="name">
      {{ item.name }}
    </AppDescriptionsItem>
    <AppDescriptionsItem label="email">
      {{ item.email }}
    </AppDescriptionsItem>
    <AppDescriptionsItem label="body">
      {{ item.body }}
    </AppDescriptionsItem>
  </AppDescriptions>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default() {
        return {};
      }
    }
  }
}
</script>


