<template>
  <div class="app-wrap">
    <AppHeader/>

    <AppMain>
      <nuxt/>
    </AppMain>
  </div>
</template>

<script>
export default {
  name: 'AppLayout'
}
</script>

<style>
.app-wrap {
  padding-top: 60px;
}
</style>
