<template>
  <section>
    <h1>Error 404</h1>

    <nuxt-link to="/">Home</nuxt-link>
  </section>
</template>

<script>
export default {
  name: "AppErrorLayout"
};
</script>

<style scoped>
section {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #ff0000;
}
</style>
