<template>
  <div>
    <h1>Home</h1>

    <CommentTable
      :items="comments"
      :pagination="pagination"
      :sort="sort"
      @change-page="changePage"
      @change-sort="changeSort"
      @row-click="rowClick"
    />
  </div>
</template>

<script>
import api from "../api";
import { perPage } from "../utils/consts";

const defaultPagination = {
  page: 1,
  perPage,
  total: 500
};

const defaultSort = {
  field: "id",
  order: "asc"
};

function loadData(page, limit, sort) {
  return api.comment.getList(page, limit, sort);
}

export default {
  name: "IndexPage",
  async asyncData() {
    const { data } = await loadData(defaultPagination.page, defaultPagination.perPage, defaultSort);
    return { comments: data, pagination: defaultPagination };
  },
  data() {
    return {
      comments: [],
      pagination: {
        page: 1,
        perPage,
        total: 0
      },
      sort: { ...defaultSort }
    };
  },
  methods: {
    changePage(page) {
      this.load(page, this.pagination.perPage, this.sort);
    },
    changeSort(sort) {
      this.load(this.pagination.page, this.pagination.perPage, sort);
    },
    async load(page, limit, sort) {
      this.pagination = { ...this.pagination, page };
      this.sort = { ...sort };
      const { data } = await loadData(page, limit, sort);
      this.comments = data;
    },
    rowClick({ id }) {
      this.$router.push(`/comments/${id}`);
    }
  }
};
</script>
